html{
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

.menu {
    display: flex;
    flex-direction: row;
}

.video-background {
    width: 100%;
    position: absolute;
    top: 30px;
    z-index: -1;
}

.video-background video {
    object-fit: cover;
    width: 100%;
    height: 500px;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 20px;
}

.main-button {
    width:max-content;
    padding: 10px 40px 10px 40px;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 6500;
    color: black;
}

.main-button:hover {
    background-color: gray;
}

.play {
    color: black;
}

.logo {
    /*color: red;
    font-size: 24;
    font-weight: bold;*/
    width: 100px;    
}

header a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
}

header a:hover {
    color: gray;
}

input {
    width: 120px;
}

article {
    width: 60%;
    margin-left: 45px;
}

.about {
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transition: all 0.2s ease;
 }
 
 .about .bg_links {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    position: absolute;
 }
 
 .about .logo {
    width: 40px;
    height: 40px;
    z-index: 9;
    background-image: url(https://rafaelalucas91.github.io/assets/codepen/logo_white.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 10px 7px;
    opacity: 0.9;
    transition: all 1s 0.2s ease;
    bottom: 0;
    right: 0;
 }
 
 .about .social {
    opacity: 0;
    right: 0;
    bottom: 0;
 }
 
 .about .social .icon {
    width: 100%;
    height: 100%;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    display: flex;
    transition: all 0.2s ease, background-color 0.4s ease;
    opacity: 0;
    border-radius: 100%;
 }
 
 .about:hover {
    width: 105px;
    height: 105px;
    transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);
 }
 
 .about:hover .logo {
    opacity: 1;
    transition: all 0.6s ease;
 }
 
 .about:hover .social {
    opacity: 1;
 }
 
 .about:hover .social .icon {
    opacity: 0.9;
 }
 
 .about:hover .social:hover {
    background-size: 28px;
 }
 
 .about:hover .social .icon:hover {
    background-size: 65%;
    opacity: 1;
 }
 
 .about .social.portfolio {
    transition: all 0.8s ease;
 }
 
 .about .social.portfolio .icon {
    background-image: url(https://rafaelalucas91.github.io/assets/codepen/link.svg);
 }
 
 .about .social.portfolio .icon:hover {
    background-color: #698fb7;
 }
 
 .about .social.dribbble {
    transition: all 0.3s ease;
 }
 
 .about .social.dribbble .icon {
    background-image: url(https://rafaelalucas91.github.io/assets/codepen/dribbble.svg);
 }
 
 .about .social.dribbble .icon:hover {
    background-color: #ea4c89;
 }
 
 .about .social.linkedin {
    transition: all 0.8s ease;
 }
 
 .about .social.linkedin .icon {
    background-image: url(https://rafaelalucas91.github.io/assets/codepen/linkedin.svg);
 }
 
 .about .social.linkedin .icon:hover {
    background-color: #0077b5;
 }
 
 @m-00: #ffc964;
 
 .butn {
    min-width: 160px;
    width: fit-content;
    width: -moz-fit-content;
    background-color: white;
    padding: 0 30px;
    height: 50px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: red;
    letter-spacing: 2.8px;
    font-weight: 700;
    line-height: 1.6;
    box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: all 0.4s ease;
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

 }
 
 .butn span {
    z-index: 1;
    text-align: center;
 }
 
 .butn:before,
 .butn:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    transition: all 0.4s ease;
    background-color: red;
 }
 
 .butn:before {
    left: 0;
 }
 
 .butn:after {
    right: 0;
 }
 
 .butn:hover {
    box-shadow: 0 8px 20px -12px rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
    color: white;
 }
 
 .butn:hover:before,
 .butn:hover:after {
    width: 51%;
 }
 

.change {
    display: none;
}

.age {
    width:fit-content;
    border: 1px solid white;
    padding: 3px 7px 3px 7px;
    border-radius: 5px;
}

.raiting {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.naw {
    font-size: 20px;
}

.new {
    color: red;
}

.new:hover {
    color: white;
}

.find {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.find:hover {
    color: gray;
}

.arama {
    margin-right: -22px;
}

.button {
    max-width: max-content;
    padding: 10px 20px 10px 20px;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    margin: 0;
    color: black;
    font-size: 12px;
}

.button:hover {
    background: gray;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 20px 0 20px;
}

.movie {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    overflow: hidden;
}

.movie:hover {
    overflow: auto;
    scrollbar-width: 2px;
}

.movie div {
    min-width: 310px;
    margin-right: 15px;
}

.text p:hover {
    color: grey;
}

.item1{
    display: flex;
    flex-direction: column;
    background-image: url("/pictures/one_piece.1.jpg");
    width: 310px;
    border-radius: 15px;
    padding-left: 10px;
    margin-left: 15px;
}

.item2{
    display: flex;
    flex-direction: column;
    background-image: url("/pictures/Dr_Strange.jpg");
    width: 310px;
    border-radius: 15px;
    padding-left: 10px;
}

.item3{
    display: flex;
    flex-direction: column;
    background-image: url("/pictures/snow.jpg");
    width: 310px;
    border-radius: 15px;
    padding-left: 10px;
}

.item4{
    display: flex;
    flex-direction: column;
    background-image: url("/pictures/harry_potter2.jpg");
    width: 310px;
    border-radius: 15px;
    padding-left: 10px;
}

.item5{
    display: flex;
    flex-direction: column;
    background-image: url("/pictures/john_wick.jpg");
    width: 310px;
    border-radius: 15px;
    padding-left: 10px;
}

.item6{
    display: flex;
    flex-direction: column;
    background-image: url("/pictures/thor.jpg");
    width: 310px;
    border-radius: 15px;
    padding-left: 10px;
    margin-left: 15px;
}

.item7{
    display: flex;
    flex-direction: column;
    background-image: url("/pictures/terminator_2.jpg");
    width: 310px;
    border-radius: 15px;
    padding-left: 10px;
}

.item8{
    display: flex;
    flex-direction: column;
    background-image: url("/pictures/the_green_mile.jpg");
    width: 310px;
    border-radius: 15px;
    padding-left: 10px;
}

.item9{
    display: flex;
    flex-direction: column;
    background-image: url("/pictures/truman_show.jpg");
    width: 310px;
    border-radius: 15px;
    padding-left: 10px;
}

.item10{
    display: flex;
    flex-direction: column;
    background-image: url("/pictures/the_wolf.jpg");
    width: 310px;
    border-radius: 15px;
    padding-left: 10px;
}


footer {
    margin-top: 70px;
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1d1c1c;
    bottom: 0;
}

.last-icon {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    width: 100%;
    padding-left: 60;
}

.last-icon i {
    padding-right: 30px;
}

.last-icon i:hover {
    color: gray;
}

.last-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.last-nav nav {
    display: flex;
    flex-direction: column;
    margin: 20 20;
}

.last-nav nav a {
    text-decoration: none;
    padding-bottom: 20;
    color: #9b9b9b;
}

.last-nav nav a:hover {
    color: white;
}

.hzm {
    width: 100%;
}

.hzm .hizmet {
    width: fit-content;
    color: #9b9b9b;
    border: 1px solid #9b9b9b;
    padding: 7px;
    margin: -5px 0 0 20px;
}

.hzm .business {
    width: fit-content;
    color: #9b9b9b;
    padding: 7px;
    margin: 10 0 0 20px;
    font-size: 14px;
}

.hzm .hizmet:hover {
    color: white;
    border-color: white;
}

.yeter {
    border: 1px solid white;
    width: fit-content;
    padding: 3px 7px;
    border-radius: 10px;
}

.popup {
    display: none;
}

.menu-items {
    display:flex;
}

.container {
    position: relative;
    box-sizing: border-box;
    width: fit-content;
}

.mainbox {
    box-sizing: border-box;
    position: relative;
    width: 230px;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 160px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.mainbox:hover {
    background-color: black;
}

.checkbox:focus {
    border: none;
    outline: none;
}

.checkbox:checked {
    right: 10px;
}

.checkbox:checked ~ .mainbox {
    width: 50px;
}

.checkbox:checked ~ .mainbox .search_input {
    width: 0;
    height: 0px;
}

.checkbox:checked ~ .mainbox .iconContainer {
    padding-right: 8px;
}

.checkbox {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 17px;
    top: 10px;
    z-index: 9;
    cursor: pointer;
    appearance: none;
}

.search_input {
    box-sizing: border-box;
    height: 100%;
    width: 170px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-bottom: 4px;
    padding-left: 10px;
    font-size: 1em;
    color: white;
    transition: all 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search_input::placeholder {
    color: rgba(255, 255, 255, 0.776);
}

.iconContainer {
    box-sizing: border-box;
    padding-top: 5px;
    width: fit-content;
    transition: all 0.3s ease;
}

.search_icon {
    box-sizing: border-box;
    fill: white;
    font-size: 1.3em;
}

  /* Profile */
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13px;
    height: 13px;
    overflow: hidden;
    background-color: rgb(252, 252, 252);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
    margin-left: 10;
  }
  .tab:hover {
    background-color: rgb(227, 223, 223);
  }
    /* Profile */

@media (max-width: 768px) {

    header nav a{
        display: none;
    }

    .raiting {
        display: flex;
        flex-direction: column;
    }

    .rat {
        margin-bottom: 0;
    }

    .pool{
        display: none;
    }

    .change {
        display:flex;
        margin-top: 10px;
    }

    body .video-background {
        display: none;
    }

    .picture {
        position: fixed;
        width: 100%;
        height: 500px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url("https://ew.com/thmb/hVBUytPjJxTgDQwfsONCN_YQ0E4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Deadpool-3-071023-3-9b6153f591634668ba35f12d3555b83e.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: 50px;
        z-index: -1;
    }
    .popup {
        --burger-line-width: 1.125em;
        --burger-line-height: 0.125em;
        --burger-offset: 0.625em;
        --burger-bg: rgba(0, 0, 0, .15);
        --burger-color: #333;
        --burger-line-border-radius: 0.1875em;
        --burger-diameter: 2.125em;
        --burger-btn-border-radius: calc(var(--burger-diameter) / 2);
        --burger-line-transition: .3s;
        --burger-transition: all .1s ease-in-out;
        --burger-hover-scale: 1.1;
        --burger-active-scale: .95;
        --burger-enable-outline-color: var(--burger-bg);
        --burger-enable-outline-width: 0.125em;
        --burger-enable-outline-offset: var(--burger-enable-outline-width);

        --nav-padding-x: 0.25em;
        --nav-padding-y: 0.625em;
        --nav-border-radius: 0.375em;
        --nav-border-color: #ccc;
        --nav-border-width: 0.0625em;
        --nav-shadow-color: rgba(0, 0, 0, .2);
        --nav-shadow-width: 0 1px 5px;
        --nav-bg: #eee;
        --nav-font-family: Menlo, Roboto Mono, monospace;
        --nav-default-scale: .8;
        --nav-active-scale: 1;
        --nav-position-left: 0;
        --nav-position-right: unset;
    
        --nav-title-size: 0.625em;
        --nav-title-color: #777;
        --nav-title-padding-x: 1rem;
        --nav-title-padding-y: 0.25em;
    
        --nav-button-padding-x: 1rem;
        --nav-button-padding-y: 0.375em;
        --nav-button-border-radius: 0.375em;
        --nav-button-font-size: 12px;
        --nav-button-hover-bg: #6495ed;
        --nav-button-hover-text-color: #fff;
        --nav-button-distance: 0.875em;
    
        --underline-border-width: 0.0625em;
        --underline-border-color: #ccc;
        --underline-margin-y: 0.3125em;
    }
    
    
    .popup {
        display: inline-block;
        text-rendering: optimizeLegibility;
        position: relative;
    }
    
    .popup input {
        display: none;
    }
    
    .burger {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        background: var(--burger-bg);
        width: var(--burger-diameter);
        height: var(--burger-diameter);
        border-radius: var(--burger-btn-border-radius);
        border: none;
        cursor: pointer;
        overflow: hidden;
        transition: var(--burger-transition);
        outline: var(--burger-enable-outline-width) solid transparent;
        outline-offset: 0;
    }
    
    .burger span {
        height: var(--burger-line-height);
        width: var(--burger-line-width);
        background: var(--burger-color);
        border-radius: var(--burger-line-border-radius);
        position: absolute;
        transition: var(--burger-line-transition);
    }
    
    .burger span:nth-child(1) {
        top: var(--burger-offset);
    }
    
    .burger span:nth-child(2) {
        bottom: var(--burger-offset);
    }
    
    .burger span:nth-child(3) {
        top: 50%;
        transform: translateY(-50%);
    }
    
    .popup-window {
        transform: scale(var(--nav-default-scale));
        visibility: hidden;
        opacity: 0;
        position: absolute;
        padding: var(--nav-padding-y) var(--nav-padding-x);
        background: var(--nav-bg);
        font-family: var(--nav-font-family);
        color: var(--nav-text-color);
        border-radius: var(--nav-border-radius);
        box-shadow: var(--nav-shadow-width) var(--nav-shadow-color);
        border: var(--nav-border-width) solid var(--nav-border-color);
        top: calc(var(--burger-diameter) + var(--burger-enable-outline-width) + var(--burger-enable-outline-offset));
        left: var(--nav-position-left);
        right: var(--nav-position-right);
        transition: var(--burger-transition);
    }
    
    .popup-window legend {
        padding: var(--nav-title-padding-y) var(--nav-title-padding-x);
        margin: 0;
        color: var(--nav-title-color);
        font-size: var(--nav-title-size);
        text-transform: uppercase;
    }
    
    .popup-window ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    
    .popup-window ul button {
        outline: none;
        width: 100%;
        border: none;
        background: none;
        display: flex;
        align-items: center;
        color: var(--burger-color);
        font-size: var(--nav-button-font-size);
        padding: var(--nav-button-padding-y) var(--nav-button-padding-x);
        white-space: nowrap;
        border-radius: var(--nav-button-border-radius);
        cursor: pointer;
        column-gap: var(--nav-button-distance);
    }
    
    .popup-window ul li:nth-child(1) svg,
    .popup-window ul li:nth-child(2) svg {
        color: cornflowerblue;
    }
    
    .popup-window ul li:nth-child(4) svg,
    .popup-window ul li:nth-child(5) svg {
        color: rgb(153, 153, 153);
    }
    
    .popup-window ul li:nth-child(7) svg {
        color: red;
    }
    
    .popup-window hr {
        margin: var(--underline-margin-y) 0;
        border: none;
        border-bottom: var(--underline-border-width) solid var(--underline-border-color);
    }
    
    .popup-window ul button:hover,
    .popup-window ul button:focus-visible,
    .popup-window ul button:hover svg,
    .popup-window ul button:focus-visible svg {
        color: var(--nav-button-hover-text-color);
        background: var(--nav-button-hover-bg);
    }
    
    .burger:hover {
        transform: scale(var(--burger-hover-scale));
    }
    
    .burger:active {
        transform: scale(var(--burger-active-scale));
    }
    
    .burger:focus:not(:hover) {
        outline-color: var(--burger-enable-outline-color);
        outline-offset: var(--burger-enable-outline-offset);
    }
    
    .popup input:checked+.burger span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    
    .popup input:checked+.burger span:nth-child(2) {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
    }
    
    .popup input:checked+.burger span:nth-child(3) {
        transform: translateX(calc(var(--burger-diameter) * -1 - var(--burger-line-width)));
    }
    
    .popup input:checked~nav {
        transform: scale(var(--nav-active-scale));
        visibility: visible;
        opacity: 1;
    }
}
@media (max-width: 576px) {
    .picture {
    position: fixed;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url("https://ew.com/thmb/hVBUytPjJxTgDQwfsONCN_YQ0E4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Deadpool-3-071023-3-9b6153f591634668ba35f12d3555b83e.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 50px;
    z-index: -1;
}
}